body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 40%;
}

.beers {
    width: auto;
    background-color: aliceblue;
}

.spesific {
    background-color: lightsalmon;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}

.images {
    max-width: 100px;
    max-height: 150px;
}

.introduction {
    width: 40%;
}

.name {
    margin: 10px;
    width: 30%;
}

.button {
    text-decoration: none;
    border: 1px solid grey;
    padding: 10px;
    color: blueviolet;
    background: white;
    margin: 10px;
}

.failure {
    background-color: red;
    font-size: 2em;

}


  #loaderr {
      max-height: 100px;
      animation: spin 4s linear infinite;
      position: absolute;
      left: 40%;
      top: 40%;
  }
  #loaderr img {height: 200px}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #blink {
      left: 40%;
      position: absolute;
    animation: blink-animation 0.2s steps(2, start) infinite;
    -webkit-animation: blink-animation 1s steps(2, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }}